.container {
    font-size: larger;
}

.sentence-not-reached {
    display: none;
}

.word {
    cursor: pointer;
}

.word-wrapper {
    /*display: none;*/
}

#text-pane {
    padding-bottom: 120px;
}

#info-pane {
    display: none;
    position: fixed;
    bottom: 0px;

    width: 100%;

    background: #fafafa;
    border: 1px solid black;

    padding-bottom: 15px;
}

#info-verse {
    font-size: smaller;
    float: right;
}
