{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'greektoyou/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'greektoyou/css/greektoyou.css' %}">
    </head>
    <body>
    <div class="container">
    <h1>{{book.title}}</h1>
    {% for p in book.paragraphs %}
        <p>
        {% for sentence in p.sentences %}
        <span class="sentence">
        {% for word in sentence.words %}
            <span class="word-wrapper">{{ word.prefix }}<span class="word"
                data-code="{{word.code}}"
            >{{ word.text }}</span>{{ word.suffix }}</span>
        {% endfor %}
        </span>
        {% endfor %}
        </p>
    {% endfor %}
    <div id="info-pane" class="container info-pane">
        <span id="info-lemma">lemma</span> <small>
        <span id="info-pos">pos</span>
        <span id="info-verse">verse</span>
        <br>

        <span id="info-parse">parse</span>
    </div>
    </div>
    <script src="{% static 'greektoyou/js/greektoyou.js' %}"></script>
    </body>
</html>
